.App {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f6f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.App-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    color: #333;
    margin: 0;
}

.username {
    font-size: 16px;
    color: #333;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.register-link {
    position: absolute;
    right: 100px;
    top: 30px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .register-link:hover {
        color: #0056b3;
    }
